#include "resource.h"

IDR_PIECE_WB PNG "../assets/chess_maestro_bw/wB.png"
IDR_PIECE_WK PNG "../assets/chess_maestro_bw/wK.png"
IDR_PIECE_WN PNG "../assets/chess_maestro_bw/wN.png"
IDR_PIECE_WP PNG "../assets/chess_maestro_bw/wP.png"
IDR_PIECE_WQ PNG "../assets/chess_maestro_bw/wQ.png"
IDR_PIECE_WR PNG "../assets/chess_maestro_bw/wR.png"
IDR_PIECE_BB PNG "../assets/chess_maestro_bw/bB.png"
IDR_PIECE_BK PNG "../assets/chess_maestro_bw/bK.png"
IDR_PIECE_BN PNG "../assets/chess_maestro_bw/bN.png"
IDR_PIECE_BP PNG "../assets/chess_maestro_bw/bP.png"
IDR_PIECE_BQ PNG "../assets/chess_maestro_bw/bQ.png"
IDR_PIECE_BR PNG "../assets/chess_maestro_bw/bR.png"
